html,body{
    margin: 0px; 
    font-family: 'Nunito Sans', sans-serif;   
}

.be-red{
    background-color: #15057A
}

.white{
    color: #E5E5E5;
}

#Logo{
    font-size: 1.3em;
}

.no{
    margin: 0px;
}

.large-padding{
    padding: 5px 5px;
}

a,a:visited{
    color: inherit;
    text-decoration: none;
}